
a {
    color: #6e6ec7;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        .PhoneImg {
            opacity: 1;
        }
    }
    .PhoneImg {
        width: 35px;
        margin-left: 15px;
        transform: translateY(5px);
        opacity: .7;
    }
}

@media screen and (max-width: 767px) {
    a {
        position: relative;

        // .PhoneImg {
        //     position: absolute;
        //     top: -15px;
        // }
    }
}