.OrderWrp {
    text-align: center;
    position: relative;

    .GoToProducts {
        text-decoration: none;
        display: block;
        margin: 25px 0;
        position: absolute;
        top: 27px;
        left: 3%;

        &:hover {
            color: #ff115f;
        }
        span {
            display: inline-block;
        }
        .IconAngle {
            transform: rotate(90deg) scale(0.8);
        }
        .BackWord {
            padding-left: 10px;
        }
        svg {
            overflow: visible;
        }
    }
}
.ModalContent {
    
}
@media screen and (max-width: 767px) {
    .OrderWrp {
        .GoToProducts {
            display: block;
            left: 25px;
            top: 50px;
            text-align: left;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
    .OrderWrp {
        padding: 0 30px;
        .GoToProducts {
            top: 55px;
            left: 4%;
        }
    }
}