.CartWrp {
    display: inline-block;

    h2 {
        border-bottom: 1px solid #dbdbdb;
        font-weight: 400;
        text-align: left;
        padding: 0 0 10px;
    }
}

@media screen and (max-width: 767px) {
    .CartWrp h2 {
        margin-bottom: 0;
        margin-top: 65px;
        text-align: center;
        padding-bottom: 20px;
    }
}