.ContactsArea {
    // display: flex;
    // justify-content: space-between;
    // align-items: baseline;
    // flex-wrap: wrap;
    padding: 10px 15px 15px;
    .ContactItem {
        height: 35px;
        min-width: 240px;
        margin-bottom: 30px;
        display: inline-block;
    }
}
h3 {
    font-weight: 100;
    font-size: 30px;
    margin-top:  40px;
}
@media screen and (min-height: 900px) {
    .ContactsArea .ContactItem {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    .ContactsArea {
        display: block;
        text-align: center;

        .ContactItem {
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    h3 {
        text-align: center;
    }
}