.Categories {
    position: relative;
    height: 100%;
    display: inline-block;

    .CategName {
        height: 100%;
        border-right: 1px solid #e5e9ee;
        border-left: 1px solid #e5e9ee;
        padding: 0 12px;
        line-height: 3;
        cursor: pointer;

        > span {
            vertical-align: top;
        }

        &:hover, > svg {
            color: #ff115f;
            fill: #ff115f;
        }

        .AngleIcon > svg {
            transition: transform .5s;
            transform-origin: 55% 50%;
            transform: rotate(0);
            display: inline-block;
        }
        .AngleIcon.Up > svg {
            transform: rotate(180deg);
        }
    }
    .CategList {
        position: absolute;
        top: 100%;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        padding: 20px;
        display: none;
        z-index: 1;
    }
    .CategList.Shown {
        display: block;
    }
}

@media screen and (max-width: 830px) {
    .Categories .CategList {
        top: 55px;
    }
}

@media screen and (max-width: 768px) {
    .Categories {
        height: auto;
        .CategName {
            border: none;
        }
    }
}

@media screen and (max-width: 440px) {
    .CategName {
        max-width: 205px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        > span {
            display: inline-block;
        }
        > .Text {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 190px;
        }
    }
}


@media screen and (max-width: 365px) {
    .CategName {
        max-width: 178px;
        > .Text {
            max-width: 172px;
        } 
    }
}