.Category {
    position: relative;
    display: inline-block;
    min-width: 150px;
    margin-right: 45px;
    min-height: 50px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform .5s;
    margin-bottom: 35px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 8px 7px 1px rgba(0,0,0,.19);
        // .CategoryImg {
        //     transform: scale(1.1)
        // }
        .TitleWrp .Title {
            text-decoration: underline;
        }
    }
    .CategoryImg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s;
    }
    .TitleWrp {
        display: flex;
        justify-content: center;
        min-height: inherit;
        position: relative;
        padding: 0 15px;
        background-color: #658fab;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     bottom: 0;
        //     background-color: rgba(0, 0, 0, .5);
        // }
        .Title {
            align-self: center;
            position: relative;
            color: #eee;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 767px) {
    .Category {
        margin: 10px 15px;
        min-height: 70px;
    }
}

.Checked {
    box-shadow: 0 8px 7px 1px rgba(0,0,0,.19);
    .TitleWrp {
        &::before {
            background-color: rgba(0, 0, 0, 0.6);
        }
        .Title {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 330px) {
    .Category {
        .TitleWrp {
            .Title {
                font-size: 1.2em;
            }
        }
    }
}