.ProductPage {
    padding: 15px 25px;
    text-align: left;

    .ImageAreaWrp, .DetailsWrp {
        min-height: calc(100vh - 340px);
        display: inline-block;
    }
    .GoToProducts {
        text-decoration: none;
        display: block;
        margin-bottom: 25px;

        &:hover {
            color: #ff115f;
        }
        span {
            display: inline-block;
        }
        .IconAngle {
            transform: rotate(90deg) scale(0.8);
        }
        .BackWord {
            padding-left: 10px;
        }
        svg {
            overflow: visible;
        }
    }
    .ImageAreaWrp {
        width: 40%;
        vertical-align: top;
        padding-right: 5%;
        box-sizing: border-box;
    }
    .DetailsWrp {
        width: 60%;
    }
    .ModalProductPage {
        > div {
            z-index: 1000000000;
        }
    }

    @media screen and (max-width: 767px) {
        .ImageAreaWrp, .DetailsWrp {
            display: block;
            width: 100%;
        }
    }
}

.GoToOrderBtn {
    text-decoration: none;
    background-color: #1d9877;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    float: left;
}
.ContinueShoppingBtn {
    background-color: #ddd;
    border-radius: 5px;
    color: #777;
    font-size: 16px;
    padding: 10px;
    float: right;
}

@media screen and (max-width: 767px) {
    .GoToOrderBtn, .ContinueShoppingBtn {
        font-size: 14px;
    }
}