.ProductsWrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    min-height: 980px;
    position: relative;
    z-index: 10;
    margin-top: 75px;

    @media only screen and (min-width: 1365px) {
        padding: 0 10vw;
    }
    @media only screen and (max-width: 1365px) {
        padding: 0 2vw;
    }
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
        column-count: 3;
      }
    @media only screen and (max-width: 767px) and (min-width: 540px) {
        column-count: 2;
    }
    @media only screen and (max-width: 539px) {
        column-count: 1;
    }
}