.HomeBanners {
    position: relative;
    height: 40vh;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .2);
    }

    .BannerContent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #eee;
        font-family: monospace;

        .BannerTitle {
            font-size: 55px;
            text-transform: capitalize;
        }
        .BannerDescription {
            font-size: 35px;
            margin-bottom: 35px;
        }
        .BannerOptionalDescription {
            font-size: 25px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 767px) {
    .HomeBanners {
        .BannerContent {
            .BannerTitle {
                font-size: 21px;
                margin-bottom: 10px;
            }
            .BannerDescription {
                font-size: 17px;
                margin-bottom: 15px;
            }
            .BannerOptionalDescription {
                font-size: 14px;
            }
        }
    }
}