.HomeBanners {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .2);
    }

    .BannerContent {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #eee;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 5px 10px;

        .BannerTitle {
            font-size: 33px;
        }
        .BannerDescription {
            font-size: 35px;
            margin-bottom: 35px;
        }
        .BannerOptionalDescription {
            font-size: 25px;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 767px) {
    .HomeBanners {
        height: 32vh;
        .BannerContent {
            .BannerTitle {
                font-size: 21px;
                margin-bottom: 10px;
            }
            .BannerDescription {
                font-size: 17px;
                margin-bottom: 15px;
            }
            .BannerOptionalDescription {
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .HomeBanners {
        height: 22vh;
    }
}
@media screen and (max-width: 500px) and (min-height: 811px) {
    .HomeBanners {
        height: 18vh;
    }
}