.SizesShoppingCart {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-top: 1em;
    border-bottom: 1px solid #dde3ea;

    .Sizes .Dimensions {
        font-weight: 100;
        margin-top: 0;
    }
    .Sizes .SizesContent {
        display: flex;
        padding: 5px 0;
        justify-content: space-between;
        min-width: 240px;
        color: #555;

        .Key {
            margin-right: 35px;
        }
        .Key, .Value {
            display: inline-block;
        }
    }
    .AddToCartArea .Price {
        font-size: 24px;
        padding-bottom: 20px;
        text-align: right;
    }
    .AddToCartArea .AddToCart {
        font-size: 14px;
        border-radius: 23px;
        box-shadow: none;
        font-weight: 400;
        line-height: 36px;
        padding: 0 30px;
        color: #fff;
        border: none;
        background-color: #ff115f;
        cursor: pointer;
        outline: none;
    }
    .ByOneClick {
        color: #555;
        font-size: 19px;
        margin-right: 25px;
        font-size: 14px;
        border-radius: 23px;
        box-shadow: none;
        font-weight: 400;
        line-height: 36px;
        padding: 0 30px;
        color: #fff;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        color: #000;
        border: 1px solid;
    
        &:hover {
            color: #39f;
        }
    }
    @media screen and (max-width: 767px) {
        .AddToCartArea {
            width: 100%;
            .Price {
                padding-bottom: 30px;
            }
            .ByOneClick {
                float: left;
            }
            .AddToCart {
                float: right;
            }
        }
    }
}