.SumWrp {
    display: flex;
    margin-top: 15px;
    .TotalKey {
        flex-grow: 7;
        text-align: right;
    }
    .TotalValue {
        flex-grow: 2;
    }
}

@media screen and (max-width: 767px) {
    .SumWrp {
        padding: 0 20px;
    }
}