.NotFoundWrp {
    position: absolute;
    top: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    .NoResults {
        color: #999;
        margin-bottom: 15px;
    }
    .Contact {
        display: block;
        &:not(:last-child) {
            padding-bottom: 10px;
        }
    }
}
.Shown {
    display: block;
}
.Hidden {
    display: none;
}