.Product {
    margin: 0 0 1.5em;
    padding: 0 15px;
    position: relative;
    box-sizing: border-box;

    .TitleArea {
        color: #555;
        font-size: 20px;
        padding: 15px 15px 0;
        text-align: center;
    }

    &:hover {

        .ShoppingCart {
            display: block;
        }
    }
    .ProductArea {
        position: relative;
        box-shadow: 0 2px 14px 0 rgba(33,33,37,.2);
        transition: box-shadow .35s ease-in,transform .3s ease-in,opacity .2s ease-in,-webkit-transform .3s ease-in;
        
        > a {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 15px 20px rgba(0,0,0,.2);
        }
    }
    .ShoppingCart {
        display: none;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        bottom: 85px;
        right: 25px;
        padding: 16px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        outline: none;
        transition: all .5s;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    @media screen and (min-width: 768px) {
        width: 50%;
    }

    @media screen and (min-width: 992px) {
        width: 33%;
    }

    @media screen and (min-width: 1535px) {
        width: 25%;
    }

    @media screen and (max-width: 767px) {
        max-width: 340px;
        .ShoppingCart {
            z-index: -1;
        }
    }
}