.Properties {
    padding: 40px 0;

    .Head {
        background-color: #212125;
        color: #dde3ea;
        padding: 5px 10px;
        display: inline-block;
        text-align: center;
        font-size: 18px;
    }
    .PropertiesContent {
        padding: 15px 40px 0 0;
        font-size: 18px;

        .KeyValueWrp {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }

        .Description {
            margin-top: 25px;
            
            .Key {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Properties {
        padding: 40px 0 0;
        .PropertiesContent {
            padding: 25px 0 0;
        }
    }
    .KeyValueWrp:not(.Description) {
        div:last-child {
            font-weight: 700;
        }
    }
    .Description {
        line-height: 1.6;
    }
}
