.Properties {
    padding: 40px 0;

    .Tab {
        color: #6e6ec7;
        padding: 5px 10px;
        display: inline-block;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        &.ActiveTab {
            color: #dde3ea;
            background-color: #212125;
        }
    }
    .PropertiesContent {
        padding: 15px 40px 0 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .Properties {
        padding: 40px 0 0;
        .PropertiesContent {
            padding: 25px 0 0;
        }
    }
}
