.ShoppingCart {
    padding: 15px 15vw;
    position: relative;

    table {
        width: 100%;
    }

    .TotalSum {
        margin-bottom: 25px;
        text-align: right;
        font-size: 18px;

        > span {
            font-size: 20px;
            font-weight: 500;
        }
    }
    .Order {
        display: inline-block;
        background-color: #1d9877;
        border-radius: 5px;
        padding: 10px;

        > a {
            color: #fff;
            text-decoration: none;
        }
    }

    .GoToProducts {
        text-decoration: none;
        display: block;
        margin-bottom: 25px;
        position: absolute;
        top: 40px;
        left: 3%;

        &:hover {
            color: #ff115f;
        }
        span {
            display: inline-block;
        }
        .IconAngle {
            transform: rotate(90deg) scale(0.8);
        }
        .BackWord {
            padding-left: 10px;
        }
        svg {
            overflow: visible;
        }
    }
}