.Header {
    background-color: hsla(0, 0%, 100%, 0.95);
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: left;
    padding: 0 25px;
    box-shadow: 0 0 5px #ddd;
    transition: transform 0.8s;

    .PhonesWrp {
        display: none;
        position: relative;
        left: -25px;
        padding: 0 35px 5px;
        font-size: 18px;
        background-color: hsla(0, 0%, 100%, 0.95);
        .Phone {
            display: inline-block;
            &:not(:last-child) {
                padding-right: 20px;
            }
        }
    }

    .HomeLink {
        display: inline-block;
        margin: 0 8px;
        transform: translateY(-2px);

        &:hover > svg {
            fill: #ff115f;
        }
    }
}

@media screen and (max-width: 830px) {
    .Header {
        height: 95px;
        .HomeLink {
            height: 32px;
            padding-top: 9px;
        }
        .PhonesWrp {
            display: block;
        }
    }
    .Header.Visible {
        transform: translateY(0);
    }
    .Header.Hidden {
        transform: translateY(-500px);
    }
}

@media screen and (max-width: 400px) {
    .Header {
        font-size: 14px;
        height: 89px;
    }
}