.Header {
    background-color: hsla(0, 0%, 100%, 0.95);
    height: 56px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: left;
    padding: 0 25px;
    box-shadow: 0 0 5px #ddd;
    transition: transform 0.8s;

    .PhonesWrp {
        display: none;
        position: relative;
        left: -25px;
        padding: 0 35px 5px;
        font-size: 18px;
        background-color: hsla(0, 0%, 100%, 0.95);
        .Phone {
            display: inline-block;
            &:not(:last-child) {
                padding-right: 20px;
            }
            .PhoneImg {
                width: 15px;
                margin-left: 15px;
                transform: translateY(2px) scale(1.2);
                opacity: .7;
            }
        }
        .Email {
            display: inline-block;
            .City {
                padding-left: 10px;
                color: #6e6ec7;
            }
        }
    }

    .HomeLink {
        display: inline-block;
        margin: 0 8px;
        color: #141488;
        text-decoration: none;
        vertical-align: bottom;
        font-size: 25px;
        padding-bottom: 14px;

        .HomeIcon {
            display: none;
        }
    }
}

@media screen and (max-width: 1320px) {
    .Header {
        .HomeLink {
            font-size: 19px;
        }
    }
}

@media screen and (max-width: 1141px) {
    .Header {
        top: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .Header {
        .HomeLink {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1070px) {
    .Header {
        .HomeLink {
            .HomeLinkText {
                display: none;
            }
            .HomeIcon {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 855px) {
    .Header {
        .PhonesWrp {
            display: none;
        }
    }
}

@media screen and (max-width: 846px) {
    .Header {
        top: 50px;
        height: 110px;
        .HomeLink {
            // height: 32px;
            // padding-top: 9px;
        }
        .PhonesWrp {
            // display: block;
        }
    }
    .Header.Visible {
        transform: translateY(0);
    }
    .Header.Hidden {
        transform: translateY(-1500px);
    }
}

@media screen and (max-width: 400px) {
    .Header {
        font-size: 14px;
        .PhonesWrp {
            .Phone {
                &:not(:last-child) {
                    padding-right: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 365px) {
    .Header {
        .PhonesWrp {
            .Phone {
                font-size: 17px;
            }
        }
    }
}