.Search {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 20px;
    box-sizing: border-box;
    
    .SearchIcon {
        width: 40px;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        &:hover > svg {
            fill: #ff115f;
        }
    }
    .SearchInputContainer {
        display: inline-block;
        transition: width .25s ease-out;
        overflow: hidden;
        transform: translate(5px, 10px);

        .SearchInput {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 20px;
            border: none;
            outline: none;
            color: #212125;
            background-color: transparent;

            &::-webkit-input-placeholder {
                font-size: 18px;
                text-indent: 5px;
                color: #4e4a4a;
            }
        }
    }
    .Active {
        width: 350px;
    }
    .Inactive {
        width: 0;
    }
}

@media screen and (max-width: 1320px) {
    .Search {
        .Active {
            width: 235px;
        }
    }   
}


@media screen and (max-width: 1125px) {
    .Search {
        .Active {
            width: 200px;
        }
    }
}

@media screen and (max-width: 910px) {
    .Search {
        .Active {
            width: 145px;
        }
    }
}

@media screen and (max-width: 830px) {
    .Search {
        .Active {
            width: 300px;
        }
    }
}
@media screen and (max-width: 830px) {
    .Search {
        margin-left: 15px;
        margin-bottom: 5px;
        height: 41px;
        .Active {
            width: 225px;
        }
    }
}

@media screen and (max-width: 400px) {
    .Search {
        .Active {
            width: 175px;
        }
    }
}