.SearchResults {
    position: absolute;
    top: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    display: none;
}
.SearchResults.Shown {
    display: block;
}

@media screen and (max-width: 767px) {
    .SearchResults {
        z-index: 1;
        min-height: auto;
        max-height: calc(100vh - 145px);
        overflow-y: auto;
    }
}