.AppWrapper {
  padding-top: 50px;
}

.SearchActive {
  width: auto;
}
.NavbarPhoneNumber {
  color: red;
}

/* .carousel.carousel-slider {
  margin: 0 auto;
  width: 1000px !important;
} */

.carousel .slide {
  background-color: transparent;
}

@media screen and (max-width: 830px) {
  .AppWrapper {
    padding-top: 135px;
  }
}

@media screen and (max-width: 1000px) {
  .carousel.carousel-slider {
    /* width: 100% !important; */
  }
}

@media screen and (max-width: 1100px) {
  .SearchActive ~ .NavbarWrp .NavbarPhoneNumber {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  /* .SearchActive ~ .NavbarWrp .NavbarPhoneNumber, */
  .SearchInactive .NotFoundWrp {
    display: none;
  }
}

@media screen and (max-width: 365px) {
  .AppWrapper {
    padding-top: 115px;
  }
}