.Product {
    td {
        padding: 0 0 85px;
    }
    .ProductImage {
        width: 72px;
        height: 72px;
        margin-right: 12px;
        img {
            width: 100%;
        }
    }
    .Title {
        font-size: 20px;
        color: #555;
    }
    .Price {
        color: #888;
    }
    .Controls {
        input {
            border: 1px solid #cecece;
        }
        @media screen and (min-width: 768px) {
            width: 100px;
        }
    }
    .Total {
        @media screen and (min-width: 768px) {
            width: 70px;
        }
    }
    .Delete {
        background-color: #c1c1c1;
        width: 22px;
        height: 22px;
        margin-left: 10px;
        font-size: 14px;
        color: #fff;
        border-radius: 50%;
    }

    @media screen and (max-width: 767px) {
        .Title {
            display: none;
        }
        .Price {
            position: relative;
            &::before {
                content: 'Цена';
                position: absolute;
                top: -5px;
                font-size: 14px;
            }
        }
        .Controls {
            max-width: 65px;
            > div {
                position: relative;
                padding-left: 0;
                padding-right: 0;
                margin-right: 10px;
                &::before {
                    content: 'Кол-во';
                    color: #888;
                    position: absolute;
                    top: -31px;
                    left: 0;
                    font-size: 14px;
                    min-width: 50px;
                }
            }
            input {
                max-width: inherit;
            }
            button {
                display: none;
            }
        }
        .Total {
            position: relative;
            &::before {
                content: 'Сумма';
                color: #888;
                position: absolute;
                top: -5px;
                left: 0;
                font-size: 14px;
            }
        }
    }
    @media screen and (max-width: 340px) {
        .Controls {
            > div {
                &::before {
                    font-size: 12px;
                }
            }
        }
        .Total, .Price {
            &::before {
                font-size: 12px;
            }
        }
    }
}

.MobileTitle {
    display: none;
}

@media screen and (max-width: 767px) {
    .Product {
        td {
            padding-bottom: 35px;
        }
    }
    .Product:last-child {
        td {
            padding-bottom: 10px;
        }
    }
    .MobileTitle {
        display: table-row;
        .MobileTitleCell {
            color: #2e2eec;
            padding-bottom: 20px;
        }
    }
}