.Product {
    td {
        padding: 0 0 85px;
    }
    .ProductImage {
        width: 72px;
        height: 72px;
        margin-right: 12px;
        img {
            width: 100%;
        }
    }
    .Title {
        font-size: 20px;
        color: #555;
    }
    .Price {
        color: #888;
    }
    .Delete {
        background-color: #c1c1c1;
        width: 22px;
        height: 22px;
        margin-left: 10px;
        font-size: 14px;
        color: #fff;
        border-radius: 50%;
    }
}