.Controls {
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    box-sizing: border-box;

    input {
        border: 1px solid #ddd;
        text-align: center;
    }
    .SetQuantity {
        font-size: 22px;
        &:hover {
            color: #6e6ec7;
        }
    }
}

@media screen and (min-width: 768px) {
    .Controls {
        input {
            min-width: 70px;
        }
    }
}